FASTGPT_APP_PORT=13000
FASTGPT_MCP_PORT=13005
FASTGPT_MINIO_API_PORT=19000
FASTGPT_MINIO_CONSOLE_PORT=19001
FASTGPT_STORAGE_VENDOR=minio
FASTGPT_STORAGE_S3_ENDPOINT=http://fastgpt-minio:9000
FASTGPT_FE_DOMAIN=http://<your-host-ip>:13000
FASTGPT_STORAGE_EXTERNAL_ENDPOINT=http://<your-host-ip>:19000

FASTGPT_ROOT_PASSWORD=<change-me>
FASTGPT_ROOT_KEY=<change-me>
FASTGPT_PLUGIN_AUTH_TOKEN=<change-me>
FASTGPT_CODE_SANDBOX_TOKEN=<change-me>
FASTGPT_VOLUME_MANAGER_TOKEN=<change-me>
FASTGPT_AIPROXY_TOKEN=<change-me>

FASTGPT_MONGO_USER=<change-me>
FASTGPT_MONGO_PASSWORD=<change-me>
FASTGPT_REDIS_PASSWORD=<change-me>
FASTGPT_MINIO_ROOT_USER=<change-me>
FASTGPT_MINIO_ROOT_PASSWORD=<change-me>

FASTGPT_PG_USER=<change-me>
FASTGPT_PG_PASSWORD=<change-me>
FASTGPT_PG_DATABASE=fastgpt
FASTGPT_AIPROXY_PG_USER=<change-me>
FASTGPT_AIPROXY_PG_PASSWORD=<change-me>
FASTGPT_AIPROXY_PG_DATABASE=aiproxy

FASTGPT_TOKEN_KEY=<change-me>
FASTGPT_FILE_TOKEN_KEY=<change-me>
FASTGPT_AES256_SECRET_KEY=<32-byte-secret>
