[Unit]
Description=Run Factory Daren incremental synchronization every two hours

[Timer]
OnCalendar=*-*-* 00/2:15:00
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
